"*":
  "atom-beautify":
    _analyticsUserId: "0d0704af-4cea-45f7-993e-e1ef93dc23a2"
  "bottom-dock": {}
  "bracket-matcher":
    autocompleteBrackets: false
    autocompleteSmartQuotes: false
    wrapSelectionsInBrackets: false
  build: {}
  core:
    themes: [
      "isotope-ui"
      "afterglow-monokai-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    softWrap: true
  emmet: {}
  "exception-reporting":
    userId: "8d6dbc73-9252-7f14-3ad9-c234ba888bdd"
  "file-icons":
    coloured: false
    onChanges: true
  "git-plus":
    splitPane: "Down"
  "isotope-ui": {}
  linter:
    showErrorPanel: false
  "markdown-preview":
    useGitHubStyle: true
  pigments:
    ignoredScopes: [
      "\\.comment"
    ]
    markerType: "gutter"
  tabs:
    usePreviewTabs: true
  "travis-ci-status": {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
".ansible.source":
  editor:
    showInvisibles: true
